:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.map-page {
  flex: 1;
  min-height: 0;
  position: relative;
}

app-map-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
