html, body {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
